#title {
    color: blue;
    text-align: center;
    margin: 1rem;
    font-weight: bold;
}

.number, .from, .submit {
    text-align: center;
    margin: 3rem;
}

.style-input-number {
    width: 15vw;
    height: 3vh;
}

.from-select, .button-submit {
    width: 8vw;
    height: 4vh;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
}

.button-submit {
    background-color: #88f1b7;
}

.result {
    font-size: 2rem;
    color: #050548;
    font-weight: bold;
}
